
#homepage-container{
    width: 100vw;   
    height: 100vh;
    background-color: var(--background-color);
    background-image: url(../../assets/images/movie\ 1.png);
    background-position: bottom 0 right 1rem;
    background-size: 36% 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

#homepage-container header {
    display: flex;
    height: 10vh;
    padding: 4rem 1rem;

    justify-content: space-between;
    align-items: center;
}

#homepage-container header nav {
    display: flex;
    align-items: inherit;
}

#homepage-container header nav ul {
    display: flex;
    text-transform: uppercase;
}

#homepage-container header nav ul li {
    padding: 2rem;
}

#homepage-container #homepage-content {
    max-width: 850px;
    padding: 1.5rem 5rem;
}

#homepage-container #homepage-content h1.title{
    margin-bottom: 2rem;
}
