.default-button {
    background-image: linear-gradient(to right, var(--main-button-color) , var(--secondary-button-color));
    border-radius: 11px;

    padding: 21px 8%;
    text-decoration: none;

    color: var(--color-text-base);

    font-weight: bold;
    letter-spacing: 0.5rem;
    transition: background-color 0.2s;


}

.default-button:hover {
    background: black;

}