.default-small-button {
    background-image: linear-gradient(to right, var(--main-button-color) , var(--secondary-button-color));
    border-radius: 11px;

    padding: 2rem 4rem;
    text-decoration: none;

    color: var(--color-text-base);

    font-weight: bold;
    letter-spacing: 0.5rem;

    display: inline-block;

}

.default-small-button:hover {
    background: black;

}