* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 60%;
    
    --background-color: rgb(24, 24, 24);   
    --color-text-base:  #FFFFFF;

    --main-button-color: #E06AB1 ;
    --secondary-button-color: #8CEEB8 ; 
    
    }

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea{
    color: var(--color-text-base);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6rem;
}

.titulo {
    font-family: 'Krona One', sans-serif;
}


li {
    list-style-type: none;
}


    @media (min-width: 700px){
        :root{
            font-size: 62.5%;
        }
    
    }